.btn-guardar{
  border: 1px solid #035849;
  border-radius: 3px;
  background-color: #035849;
  color: white;
  padding: 3px 9px 3px 9px;
}
.btn-cerrar{
  border: 1px solid #672f08;
  border-radius: 3px;
  padding: 3px 9px 3px 9px;
  color: #672f08;
}

.f-12{
  font-size: 12px !important;
}
.f-14{
  font-size: 14px !important;
}
.f-15{
  font-size: 15px !important;
}
.f-16{
  font-size: 16px !important;
}
.f-18{
  font-size: 18px !important;
}
.f-20{
  font-size: 20px !important;
}
.f-30{
  font-size: 30px !important;
}

.cr-pointer{
  cursor: pointer;
}

.modal-header{
  .close{

  }
}

.modal-header{
  border-bottom: none !important;
}
.modal-footer{
  border-top: none !important;
}

.letra-capital{
  text-transform: capitalize;
}
